<meta charset="utf-8" />
<meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
<meta property="author" content="{{ site.author }}" />
{% if page.tags %}<meta name="keywords" content="{% for tag in page.tags %}{{ tag }}, {% endfor %}"/>{% endif %}
{% if page.tags %}{% for tag in page.tags %}<meta property="article:tag" content="{{ tag }}"/>
{% endfor %}{% endif %}
{% if page.title %}<meta property="twitter:title" content="{{ page.title }}" />{% endif %}
{% if page %}
{% if profile.first_name %}<meta property="profile:first_name" content="{{ profile.first_name }}" />{% endif %}
{% if profile.last_name %}<meta property="profile:last_name" content="{{ profile.last_name }}" />{% endif %}
{% if profile.username %}<meta property="profile:username" content="{{ profile.username }}" />{% endif %}
{% if profile.gender %}<meta property="profile:gender" content="{{ profile.gender }}" />{% endif %}
{% endif %}

<meta property="og:image" content="{{ site.url }}/images/coders-block-li-dark.jpg" />
<meta property="og:image:width" content="180" />
<meta property="og:image:height" content="110" />

<meta property="og:image" content="{{ site.url }}/images/coders-block-fb-dark.jpg" />
<meta property="og:image:width" content="600" />
<meta property="og:image:height" content="315" />

<meta meta name="twitter:image" content="{{ site.url }}/images/coders-block-dark.jpg" />
{% seo title=false %}
