---
layout: default
---

<h1>Posts with {{ page.type }} '{{ page.title }}'</h1>
<p>To see all the posts, please go to <a class="post-link" href="{{ site.baseurl }}">the homepage of <em>{{ site.name }}</em></a></p>
<!--ul class="posts"-->
<div class="posts">
{% for post in page.posts %}
  <!--li-->
    <article class="post">
      <!--span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span-->
      <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>


      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  <!--/li-->
{% endfor %}
</div>
<!--/ul-->
